html,
body {
	overscroll-behavior-y: none;
	margin: 0;
}

.container {
	position: relative;
	color: white;

	&>.content {
		background-color: #101010;
		z-index: 100;
		display: grid;
		place-content: center;
		width: 100vw;
		height: 100vh;

		&>.image {
			overflow: hidden;
			border-radius: 4px;
			max-width: 300px;
			display: block;
		}
	}
}
